[submodule "reveal"]
	path = reveal
	url = git://github.com/hakimel/reveal.js.git
[submodule "highlight"]
	path = highlight
	url = git://github.com/isagalaev/highlight.js.git
[submodule "head.js"]
	path = head.js
	url = https://github.com/headjs/headjs.git
