<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Putting Mobile First
    %meta{:content => "Causes Engineering", :name => "author"}/
    %link{:href => "//fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "reveal/css/reveal.min.css", :rel => "stylesheet"}/
    %link{:href => "highlight/src/styles/solarized_dark.css", :rel => "stylesheet"}/
    %link{:href => "causes.css", :rel => "stylesheet"}/
    / overrides for default reveal styles
    :css
      .slides {
        position: relative;
      }
      .reveal pre {
        font-size: 24px;
      }
      .image-container {
        text-align: center;
        position: relative;
      }
      .move-to-the-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
      }
      .citation-link {
        font-size: 18px !important;
        position: absolute !important;
        bottom: 0;
        right: 0;
      }
      .performance-table {
        font-size: 16px !important;
      }
      .performance-table th {
        font-weight: bold;
        width: 150px;
      }
      .performance-table td {
        padding: 3px;
      }
      .speedcurve-image {
        background-color: rgb(40, 40, 40);
      }
      .speedcurve-image .citation-link a {
        color: #fff !important;
      }
    %script{:src => "head.js/dist/head.min.js"}
  %body#causes
    .reveal
      .slides

        %section
          %h1 Putting Mobile First
          %br
          %h5 presented by
          %h4 Tom Dooner
          %img.logo{:src => 'assets/causes-logo.png'}

          %aside.notes
            %ol
              %li Hi, I'm Tom, etc.
              %li
                Causes is the world's largest online campaigning platform. It's
                one of the largest Ruby on Rails web application. But you don't
                need to be big in order to benefit from this talk.
              %li How many of you have heard about "mobile first"?

        %section
          %h2 Mobile Last
          .image-container
            %img.fragment{ src: 'assets/cwru-homepage.png', style: 'width: 230px' }

          %aside.notes
            It's illustrative to show the opposite, first. "Why didn't you make
            the screenshot larger?" That's really the point - I shouldn't have
            to.

        %section
          %h3 Obligatory XKCD
          .image-container
            %img{ src: 'assets/xkcd.png', style: 'width: 672px' }

          %aside.notes
            No presentation would be complete without one XKCD comic. In
            seriousness, this is really the kind of thing that mobile first
            epitomizes - putting your users first and getting them the content
            however they want to digest it.

        %section
          %h3 Not Mobile Last
          .image-container
            %img{ src: 'assets/causes-one.png', style: 'width: 230px' }

        %section
          %h2 Mobile First
          %ul
            %li
              Why
              %ul
                %li Accessibility
                %li Performance
                %li Simplicity
            %li
              How
              %ul
                %li ???

          %aside.notes
            By now you might have realized that this talk is meant for consumer
            internet properties - and most of you might tune out because you
            aren't working at an online startups. But web development these days
            is huge, and I think it is very probable that many of you will find
            yourselves developing a consumer webapp at some point.

        %section.image-container
          %div{ style: 'position: relative;' }
            %img{ src: 'assets/phone.svg', style: 'height: 400px' }
            .move-to-the-center
              25%

          %aside.notes
            %ul
              %li 25% of mobile users don't access your site via desktop
              %li
                Your site needs to work for them, or else you're going to leave
                users on the table.

        %section
          %h3 2014
          %ul
            %li The year when mobile traffic surpasses desktop traffic
            %li.fragment (oh hey, that's next year!)
          %a.citation-link{ href: 'http://www.businessinsider.com/mobile-will-eclipse-desktop-by-2014-2012-6' }
            [citation]

          %aside.notes
            %ul
              %li You owe a good experience to these users

        %section
          %h2 Performance

        %section
          %h3 Performance @ Google
          %img{ src: 'assets/clock.svg', style: 'height: 200px; padding: 50px; float: left;' }
          %table.performance-table.fragment
            %thead
              %th Type of Delay
              %th Magnitude
              %th Duration
              %th Impact
            %tbody
              %tr
                %td Pre-header
                %td 50 ms
                %td 4 weeks
                %td —
              %tr
                %td Pre-header
                %td 100 ms
                %td 4 weeks
                %td -0.20%
              %tr
                %td Post-header
                %td 200 ms
                %td 6 weeks
                %td -0.29%
              %tr
                %td Post-header
                %td 400 ms
                %td 6 weeks
                %td -0.59%
              %tr
                %td Post-ads
                %td 200 ms
                %td 4 weeks
                %td -0.30%
          .citation-link
            %a{ href: 'http://services.google.com/fh/files/blogs/google_delayexp.pdf' } [citation]
            %a{ href: 'http://thenounproject.com/noun/clock/#icon-No1164' } [attribution]

          %aside.notes
            It took five weeks for the adverse effects to wear off.

        %section
          %h3 Performance @ Amazon
          %img{ src: 'assets/clock.svg', style: 'height: 200px; padding: 50px; float: left;' }
          %ul
            %li 100 ms = -1% of sales
          .citation-link
            %a{ href: 'https://sites.google.com/site/glinden/Home/StanfordDataMining.2006-11-28.ppt?attredirects=0' } [citation]

        %section
          %h3 Performance
          %img{ src: 'assets/clock.svg', style: 'height: 200px; padding: 50px; float: left;' }
          %ul
            %li 3+ Seconds = -40% Users
          .citation-link
            %a{ href: 'http://www.akamai.com/html/about/press/releases/2009/press_091409.html' } [citation]

        %section.image-container
          %div{ style: 'position: relative;' }
            %img{ src: 'assets/phone.svg', style: 'height: 500px' }
            .move-to-the-center
              Simplicity

          %aside.notes The Ultimate Sophistication

        %section
          %h2 How?
          %ul
            %li Eye on Performance
            %li Avoiding UI Dangers
            %li Seize the Opportunities!

        %section
          .image-container.speedcurve-image
            %img{ src: 'assets/performance.png', style: 'margin: 200px 0;' }
            .citation-link
              %a{ href: 'http://speedcurve.com' } [speedcurve]
              %a{ href: 'http://webpagetest.org' } [webpagetest]

        %section
          .image-container.speedcurve-image
            %img{ src: 'assets/waterfall.png' }

        %section
          %h3 Eye on Performance
          %h4 Latency
          %ul
            %li 3G: &gt; 400 ms
            %li 4G: &gt; 150 ms

          %aside.notes
            latency is huge. Every TCP connection needs to make a round trip to
            initialize, and so this adds real overhead on mobile

        %section
          %h3 First Cuts
          %ul
            %li.fragment Reduce Asset Count
            %li.fragment Use CDN + Asset Sharding
            %li.fragment Minify JS/CSS

        %section
          %h3 Second Cuts
          %ul
            %li.fragment Use efficient CSS
            %li.fragment HTML Streaming
            %li.fragment mod_pagespeed / ngx_pagespeed
            %li.fragment Prioritize the Critical Rendering Path

          %aside.notes
            SEO benefits too!

        %section
          %h3 Prioritize the Critical Rendering Path
          %h4 Progressive Enhancement
          %ul
            %li Don't rely on JS for mission-critical functionality

          %aside.notes
            Now is the demo of Causes

        %section
          %h2 Development Patterns
          %ul
            %li.fragment Responsive Stylesheets via SASS/LESS
            %li.fragment JS Script Loader

          %aside.notes
            %ul
              %li
                Embrace the @media query! There are great compass mixins that
                can help with this.
              %li
                If JS is no longer in the critical rendering path, don't load it
                until the rest of the page is ready

        %section
          %pre
            %code.language-css
              :preserve
                @mixin enhance($breakpoint) {
                  @if length($breakpoint) == 1 {
                    @media only screen and (min-width: $breakpoint) {
                      @content;
                    }
                  } @else {
                    $from: nth($breakpoint, 1);
                    $until: nth($breakpoint, 2);
                    @media only screen and
                      (min-width: $from) and (max-width: $until - 1) {
                      @content;
                    }
                  }
                }

        %section
          %pre
            %code.language-css
              :preserve
                .post-body {
                  width: 100%;

                  @include enhance(360px) {
                    width: 66%;
                  }
                }

        %section
          %h3 UI Pitfalls
          %ul
            %li.fragment User cannot hover
            %li.fragment Native v. Mobile scrolling direction
            %li.fragment Prefer Top/Bottom &lt;form&gt; labels over Left/Right ones

          %aside.notes
            %ul
              %li Make links obvious.
              %li You can use horizontal scrolling on phone, but not on desktop!
              %li Consider Top &amp; Bottom for &lt;form&gt; input so the keyboard doesn't disrupt

        %section
          %h3 Native Control Danger
          .image-container
            %img{ src: 'assets/native-danger.png', style: 'width: 400px' }
          .citation-link
            %a{ href: 'http://www.abookapart.com/products/mobile-first' } [citation]

        %section
          %h3 Opportunities
          %ul
            %li.fragment Easy Media Upload
            %li.fragment Geolocation

        %section
          %h2 Thanks!
          %ul
            %li
              %a{ href: 'https://twitter.com/tomdooner' } @tomdooner
            %li
              %a{ href: 'mailto:tom.dooner@causes.com' } tom.dooner@causes.com
            %li
              Slides:
              %a{ href: 'https://ted27.github.io/causes-putting-mobile-first' }
                https://ted27.github.io/causes-putting-mobile-first
            %li
              Causes is hiring:
              %ul
                %li
                  %a{ href: 'https://www.causes.com/jobs' } https://www.causes.com/jobs
                %li Software Engineer, DevOps Engineer, Product Designer, and Internships!

    %script{:src => "reveal/js/reveal.js"}
    %script{:src => "highlight/build/highlight.pack.js"}
    :javascript
      Reveal.initialize({
        controls: false,
        history: true,
        mouseWheel: false,
        progress: false,
        rollingLinks: false,
        transition: 'fade',
        transitionSpeed: 'fast',
        dependencies: [
          { src: 'reveal/plugin/notes/notes.js', async: true }
        ]
      });
      hljs.initHighlightingOnLoad();
